body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* Optional: background color */
    overflow-y: hidden;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    margin-top: 10px;
    max-width: 400px; /* Optional: sets a maximum width */
    margin-bottom: 30px;
    margin-left: 0%;
}

#world-image {
    margin-top: 2px;
}

#lang:hover {
    color: black;
}

.word-counter {
    font-size: 1.5em;
    color: #21a663;
    font-weight: bold;
}

.main-content {
    font-family: 'Roboto Mono', monospace;
    flex-grow: 1;
}

.text-box {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto; 
    max-width: 800px;
}

.wordcontainer {
    font-size: 2em;
    white-space: nowrap; /* Ensure words stay on one line */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.language-select {
    color: grey;
    margin-right: 0%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.wordcontainer .word div {
    display: inline-block;
    margin-right: 15px; /* Adjust the value to increase or decrease space */
}

.output4 {
    margin-top: 40px;
    border-radius: 15px; /* Adjust the value as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visual effect */
    width: 100%;
    height: auto;
    max-width: 480px;
    max-height: 480px;
}

@media (max-width: 1000px) {
    body {
        overflow-y: scroll;
    }

    .output4 {
        width: 100%;
        height: auto;
    }
}

.waiting-text {
    padding-top: 22%;
    padding-right: 61%;
    font-weight: bold;
    font-size: 1.5em;
}

.consistent-action {
    margin-top: 40px;
    border-radius: 15px; /* Adjust the value as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visual effect */
    width: 100%;
    height: auto;
    max-width: 480px;
    max-height: 480px;
    background-color: white;
    font-weight: bold;
    aspect-ratio: 1/1; /* Ensure consistent aspect ratio */
}

.clickable-text {
    cursor: pointer;
    color: grey;
    text-decoration: none;  /* Remove underline */
    background-color: rgba(255, 255, 255, 0.5);  /* Optional: if you want a background */
    padding: 4px;  /* Optional: if you want some padding */
    border: none;  /* Remove border */
}

/* Add the hover state override */
.clickable-text:hover {
    color: grey;  /* Keep the same text color on hover */
    text-decoration: none;  /* Ensure underline doesn't appear */
    background-color: rgba(255, 255, 255, 0.5);  /* Keep the same background color */
}


.foot {
    margin-top: 40px;
    /* padding-bottom: 20px; */
}

#kick, #youtube, #next {
    color: grey;
    margin-right: 15px;
    padding-bottom: 20px;
}

#kick:hover {
    color: black;
}

#youtube:hover {
    color: black;
}

#next:hover {
    color: black;
}

/* Add the following CSS for the flip animation */
.flip-container {
    perspective: 1000px;
  }
  
  .flip-container.flipping .flipper {
    transform: rotateY(180deg);
    transition: transform 0.6s;
  }
  
  .flip-container .flipper {
    transform-style: preserve-3d;
    transition: transform 0.6s;
    position: relative;
  }
  
  .flip-container .front, .flip-container .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  
  .flip-container .back {
    margin-top: 40px;
    border-radius: 15px; /* Adjust the value as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visual effect */
    width: 100%;
    height: auto;
    max-width: 480px;
    max-height: 480px;
    background-color: white;
    font-weight: bold;
    aspect-ratio: 1/1; /* Ensure consistent aspect ratio */
    transform: rotateY(180deg);
    
  }
  

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
